extends layout

block content
  p Name: #{person.name}
  p Age: #{person.age}
  p Species: #{person.species}
  p Description: #{person.description}
  p Gender: #{person.gender}
  br
  #menu
    a(href='/') Go back